<html>
    <head>
        <meta charset='utf-8' />
        <title></title>
    </head>

    <body>
        <h2 class='title'>{{customer.email}}</h2>
        <div>
            <ul>
                <li>From: {{currencyFrom}}</li>
                <li>To: {{currencyTo}}</li>
                <li>amount: {{amount}}</li>
                <li>Conversion: {{valueTo}}</li>
            </ul>
        </div>
    </body>
</html>